
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
tests/delete-object.spec.ts
tests/get-object.spec.ts
tests/post-object.spec.ts
tests/put-object.spec.ts
allure reports/
allure-results/
